/* Universal Styles */

body {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}

a {
  color: black;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* UNIVERSAL STYLES - stories*/

.img-content{
  display: flex;
  flex-direction: column;
  height: 300px;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stories{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

/* HEADER */

.header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: mediumaquamarine;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.header nav{
  padding: 40px;
}

/* MAIN CONTENT */

.content{
  display: flex;
  width: 1232px;
  margin: 0px auto 78px auto;
  padding-top: 116px;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* LARGE  */
.column.large{
  width: 630px;
}

.lead-story .img-content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.fall-cancelled.img-content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  background-repeat: no-repeat;
}

.pop-culture.img-content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  background-repeat: no-repeat;
}

/* MEDIUM */
.column.medium{
  width: 300px;
}

.cat-ceo.img-content{
  background-image: url(images/cat-ceo.png);
}

/*SMALL*/
.column.small{
  width: 240px;
}

.news-bites h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

.news-bites .bite{
  display: block;
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

.bite span {
  padding-left: 11px;
}

/*FOOTER*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: mediumaquamarine;
  margin: auto;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: "Georgia", serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}
