
/* UNIVERSAL STYLES */

.img-content{
  display: flex;
  flex-direction: column;
  height: 300px;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* HEADER */

.header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: mediumaquamarine;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.header nav{
  padding: 40px;
}

/* MAIN CONTENT */

.content{
  display: flex;
  width: 1300px;
  margin: 0px auto 78px auto;
  padding-top: 116px;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* LARGE  */
.column.large{
  width: 630px;
}

.lead-story .img-content{
  background-image: url(images/story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.fall-cancelled .img-content{
  background-image: url(images/fall.png);
}

.pop-culture .img-content{
  background-image: url(images/camera-man.png);
}

/* MEDIUM */
.column.medium{
  width: 300px;
}

/*SMALL*/
.column.small{
  width: 240px;
}
